In [14]:
from ydata_profiling import ProfileReport
import pandas as pd
import matplotlib as pt
import seaborn as st

In [15]:
df = pd.read_csv('voitures.csv')

In [21]:
pd.options.display.max_columns = None
df.head(1)

,car_ID,etat_de_route,carburant,turbo,nombre_portes,type_vehicule,roues_motrices,emplacement_moteur,empattement,longueur_voiture,largeur_voiture,hauteur_voiture,poids_vehicule,type_moteur,nombre_cylindres,taille_moteur,systeme_carburant,taux_alésage,course,taux_compression,chevaux,tour_moteur,consommation_ville,consommation_autoroute,prix,marque,modele
0,1,3,gas,standard,2,decapotable,arriere,devant,2.25,4.29,1.63,1.24,1.27,double ACT,4,34904.0,injection multipoint multipoint port unique,3.47,2.68,9.0,111,5000,21.0,27.01,13495,alfa-romeo,giulia

In [13]:
df['tour_moteur'].unique()

array([5000, 5500, 5800, 4250, 5400, 5100, 4800, 6000, 4750, 4650, 4200,
       4350, 4500, 5200, 4150, 5600, 5900, 5750, 5250, 4900, 4400, 6600,
       5300])

In [28]:
df = df.rename(columns={'symboling': 'etat_de_route',
                        'CarName': 'marque_voiture',
                        'fueltype': 'carburant',
                        'aspiration': 'turbo',
                        'doornumber': 'nombre_portes',
                        'carbody': 'type_vehicule',
                        'drivewheel': 'roues_motrices', 
                        'enginelocation': 'emplacement_moteur',
                        'wheelbase': 'empattement', 
                        'carlength': 'longueur_voiture', 
                        'carwidth': 'largeur_voiture', 
                        'carheight': 'hauteur_voiture', 
                        'curbweight': 'poids_vehicule', 
                        'enginetype': 'type_moteur', 
                        'cylindernumber': 'nombre_cylindres', 
                        'enginesize': 'taille_moteur', 
                        'fuelsystem': 'systeme_carburant', 
                        'boreratio': 'taux_alésage', 'stroke': 
                        'course', 'compressionratio': 'taux_compression', 
                        'horsepower': 'chevaux', 'peakrpm': 'tour_moteur', 
                        'citympg': 'consommation_ville', 
                        'highwaympg': 'consommation_autoroute', 
                        'price': 'prix'})

In [61]:
profile=ProfileReport(df, title="voitures")
profile.to_file('Ydata.html')

Summarize dataset: 100%|██████████| 325/325 [00:51<00:00,  6.31it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:09<00:00,  9.61s/it]
Render HTML: 100%|██████████| 1/1 [00:05<00:00,  5.60s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 24.51it/s]

### colonne marque_voiture : séparer les marques et les modeles.

In [33]:

df[['marque', 'modele']] = df['marque_voiture'].str.split(' ', 1, expand=True)
df = df.drop('marque_voiture', axis=1)

/tmp/ipykernel_9668/1543473447.py:3: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['marque', 'modele']] = df['marque_voiture'].str.split(' ', 1, expand=True)

In [35]:
# df.to_csv('voitures.csv')

 ### colonne turbo : Remplacer std par standard.

In [39]:
df['turbo'] = df['turbo'].replace('std', 'standard')
print(df['turbo'].unique())

['standard' 'turbo']

### colonne nombre_portes : nombre de roues a convertir en chiffres.

In [42]:
df['nombre_portes'] = df['nombre_portes'].replace({'two': '2', 'four': '4'}).astype(int)
print(df['nombre_portes'].unique())

[2 4]
int64

### colonne 7 : Traduire les valeurs en français.

In [45]:
df['type_vehicule'] = df['type_vehicule'].replace({'convertible': 'decapotable', 'hatchback': 'hayon', 'sedan': 'berline', 'wagon': 'break', 'hardtop': 'coupe'})

print(df['type_vehicule'].unique())

['decapotable' 'hayon' 'berline' 'break' 'coupe']


    Convertible : décapotable
    Hatchback : hayon (ou voiture à hayon)
    Sedan : berline
    Wagon : break
    Hardtop : coupé sans montants de toit apparents (c'est-à-dire avec une ligne de toit continue de l'avant à l'arrière)

### colonne roues_motrices : traduire en français.

In [48]:
df['roues_motrices'] = df['roues_motrices'].replace({'rwd': 'arriere', 'fwd': 'avant', '4wd': '4motrice',})

print(df['roues_motrices'].unique())

['arriere' 'avant' '4motrice']

In [49]:
# df.to_csv('voitures.csv')

### colonne emplacement_moteur : Traduire en français.

In [51]:
df['emplacement_moteur'] = df['emplacement_moteur'].replace({'front': 'devant', 'rear': 'derrier',})

print(df['emplacement_moteur'].unique())

['devant' 'derrier']

### colonnes empattement, longueur_voiture, largeur_voiture, hauteur_voiture, poids_vehicule : convertir en metrique

 - colonne empattement : pouces en metres
 - colonne longueur_voiture : pouces en metres
 - colonne largeur_voiture : pouces en metres
 - colonne hauteur_voiture : pouces en metres
 - colonne poids_vehicule : livres tonnes

In [54]:
df['empattement'] = df['empattement'] / 39.37
df['longueur_voiture'] = df['longueur_voiture'] / 39.37
df['largeur_voiture'] = df['largeur_voiture'] / 39.37
df['hauteur_voiture'] = df['hauteur_voiture'] / 39.37
df['poids_vehicule'] = df['poids_vehicule'] / 2000

In [56]:
df['empattement'] = df['empattement'].round(2)
df['longueur_voiture'] = df['longueur_voiture'].round(2)
df['largeur_voiture'] = df['largeur_voiture'].round(2)
df['hauteur_voiture'] = df['hauteur_voiture'].round(2)
df['poids_vehicule'] = df['poids_vehicule'].round(2)

In [58]:
# df.to_csv('voitures.csv')

### colonne type_moteur : Traduire en français.

 - 'dohc', : double ACT
 - 'ohcv', : soupapes en tête à manchon
 - 'ohc',  : ACT
 - 'l',    : ligne des cylindres
 - 'rotor',: moteur rotatif
 - 'ohcf', : soupapes en tête à flux croisés
 - 'dohcv' : double ACT à soupapes en V

In [60]:
df['type_moteur'] = df['type_moteur'].replace({'dohc': 'double ACT',
                                                'ohcv': 'soupapes en tête à manchon',
                                                'ohc': 'ACT',
                                                'l': 'ligne des cylindres',
                                                'rotor': 'moteur rotatif',
                                                'ohcf': 'soupapes en tête à flux croisés',
                                                'dohcv': 'double ACT à soupapes en V',})

df['type_moteur'].unique()

array(['double ACT', 'soupapes en tête à manchon', 'ACT',
       'ligne des cylindres', 'moteur rotatif',
       'soupapes en tête à flux croisés', 'double ACT à soupapes en V'],
      dtype=object)

In [58]:
df["nombre_cylindres"].replace({"two": 2, "three":3, "four":4, "five":5, "six":6, "eight":8, "twelve":12}, inplace=True)
df.loc[:, 'taille_moteur'] = round(df.loc[:, 'taille_moteur'] * 16.387)
df["systeme_carburant"].replace({"mpfi": "injection multipoint multipoint port unique", 
                                 "2bbl": "carburateur 2 corps", 
                                 "mfi":"injection carburant multipoint", 
                                 "1bbl":"carburateur 1 corps", "spfi": "injection monopoint", 
                                 "4bbl":"carburateur 4 corps", "idi":"injection indirecte", 
                                 "spdi":"injection D monopoint"}, inplace=True)

df['consommation_ville'] = 235.214583/df['consommation_ville']
df['consommation_autoroute'] = 235.214583/df['consommation_autoroute']
df['consommation_ville'] = df['consommation_ville'].round(2)
df['consommation_autoroute'] = df['consommation_autoroute'].round(2)

In [66]:
correlations = df.corr()['prix'].sort_values(ascending=False)
print(correlations)

prix                      1.000000
taille_moteur             0.874151
poids_vehicule            0.834723
chevaux                   0.808138
largeur_voiture           0.758105
nombre_cylindres          0.718304
longueur_voiture          0.682942
empattement               0.577064
taux_alésage              0.553174
hauteur_voiture           0.122688
course                    0.079443
taux_compression          0.067984
nombre_portes             0.031836
etat_de_route            -0.079978
tour_moteur              -0.085268
car_ID                   -0.109093
consommation_ville       -0.685723
consommation_autoroute   -0.697418
Name: prix, dtype: float64

/tmp/ipykernel_15937/3530847779.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlations = df.corr()['prix'].sort_values(ascending=False)

### Supression des colonnes inutiles au projet.

In [41]:
df['consommation_ville'] = df['consommation_ville'].round(2)
df['consommation_autoroute'] = df['consommation_autoroute'].round(2)

df["systeme_carburant"].replace({"mpfi": "injection multipoint multipoint port unique", 
                                 "'2bbl": "carburateur 2 corps", 
                                 "mfi":"injection carburant multipoint", 
                                 "1bbl":"carburateur 1 corps", "spfi": "injection monopoint", 
                                 "4bbl":"carburateur 4 corps", "idi":"injection indirecte", 
                                 "spdi":"injection D monopoint"}, inplace=True)

In [40]:
df.head()

,car_ID,etat_de_route,carburant,turbo,nombre_portes,type_vehicule,roues_motrices,emplacement_moteur,empattement,longueur_voiture,...,taux_alésage,course,taux_compression,chevaux,tour_moteur,consommation_ville,consommation_autoroute,prix,marque,modele
0,1,3,gas,standard,2,decapotable,arriere,devant,2.25,4.29,...,3.47,2.68,9.0,111,5000,11.20,8.71,13495,alfa-romeo,giulia
1,2,3,gas,standard,2,decapotable,arriere,devant,2.25,4.29,...,3.47,2.68,9.0,111,5000,11.20,8.71,16500,alfa-romeo,stelvio
2,3,1,gas,standard,2,hayon,arriere,devant,2.40,4.35,...,2.68,3.47,9.0,154,5000,12.38,9.05,16500,alfa-romeo,Quadrifoglio
3,4,2,gas,standard,4,berline,avant,devant,2.53,4.49,...,3.19,3.40,10.0,102,5500,9.80,7.84,13950,audi,100 ls
4,5,2,gas,standard,4,berline,4motrice,devant,2.52,4.49,...,3.19,3.40,8.0,115,5500,13.07,10.69,17450,audi,100ls

In [31]:
df = df.drop('Unnamed: 0', axis=1)

In [59]:
df.to_csv('voitures.csv', index=False)